# requirements
shapely>=1.6
geopandas>=0.8.0
pandas>=1.0.0
numpy>=1.15.2
pygeos>=0.7.1
tqdm>=4.30.0
urllib3>=1.25
geopy>2.0.0

# test/lint
attrs>=17.4  # to fix pytest compatibility on python 3.6
pylint
pytest>=3.6
pytest-cov
